DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_MAX_CONNS=10

PARSE_INTERVAL=10m
HTTP_TIMEOUT=15s
MIN_TITLE_LENGTH=10
MAX_DESC_LENGTH=500

SOURCE_TASS=https://tass.ru/rss/v2.xml
SOURCE_RIA=https://ria.ru/export/rss2/index.xml
SOURCE_LENTA=https://lenta.ru/rss/news
SOURCE_MK=https://www.mk.ru/rss/index.xml
SOURCE_RG=https://rg.ru/xml/index.xml
SOURCE_RBC=https://rssexport.rbc.ru/rbcnews/news/30/full.rss
SOURCE_VEDOMOSTI=https://www.vedomosti.ru/rss/news
SOURCE_INTERFAX=https://www.interfax.ru/rss.asp
SOURCE_KP=https://www.kp.ru/rss/allsections.xml
SOURCE_AIF=https://aif.ru/rss/news.php
SOURCE_IZ=https://iz.ru/xml/rss/all.xml


LOG_LEVEL=info